*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --marginSize: 10px;
}
/*Font sizes*/

h1 {
  font-size: clamp(1.5rem, 5vmin, 6rem);
  margin: var(--marginSize);
}
h2 {
  font-size: clamp(1.2rem, 4vmin, 3rem);
  margin: var(--marginSize);
}

h3{
  margin: var(--marginSize);
  font-size: clamp(1.1rem, 3vmin, 2.5rem);
}
p {
  margin: var(--marginSize);
  font-size: clamp(1rem, 2.3vmin, 2rem);
}

a {
  margin: var(--marginSize);
  font-size: clamp(1rem, 3vmin, 3rem);
  text-decoration: none;
  color: rgb(42, 48, 65);
  padding: 2px;
  border-radius: 0.5rem;
  transition: color 0.1s;
  font-weight: 600;
}

a:hover {
  color: var(--special);
}
